{% extends "base.html" %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <div>
        <h1>Creat a new project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock content %}
